canvas {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.game-title {
  display: inline-block;
  position: relative;
  color: #F57462;
  margin-left: 200px;
}

